@inherits LayoutComponentBase

<PageTitle>Объектно-ориентированные тест-кейсы</PageTitle>

<div class="page">
    <main>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-page="Index">Object Oriented Test Maps</a>
                    <a href="https://vk.com/schtinguerch" target="_blank">Schtinguêrch</a>
                </div>
            </nav>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
